[2019-02-01 11:18] yshrsmz opened #1 "CI"

[2019-02-01 11:18] yshrsmz opened #2 "more tests"

[2019-02-01 11:19] yshrsmz opened #3 "convenience methods like buildConfigStringField"

[2019-02-01 16:10] yshrsmz opened #4 "rename defaultConfigs to common?"

[2019-02-02 03:03] yshrsmz opened #5 "check if `$` char is properly handled"
I think it doesn't

[2019-02-03 01:13] yshrsmz opened #6 "make it internal"

[2019-02-03 14:08] #6 closed

[2019-02-03 14:18] yshrsmz opened #7 "sometimes IDE does not recognize buildkonfig directories as sourceset on first sync"
sometimes it requires two sync until it recognize directories as source sets

[2019-02-05 07:27] yshrsmz opened #8 "flavor support"
Some thing like Android's product flavor could be useful.
But since Kotlin MPP does not support it, we need to come up with some workaround.

[code]

[2019-02-05 08:34] yshrsmz commented on #8
- Setting default value in `gradle.properties`
- Edit `gradle.properties` while development
- overwrite by passing `-P` in CI

This should work

[2019-02-07 12:55] yshrsmz commented on #8
`NamedDomainObjectContainer` is `Set`, so duplicated name is not allowed.

[code]

[2019-02-08 09:35] #8 closed

[2019-02-08 09:49] yshrsmz opened #10 "Convert BuildKonfigPluginTest to BuildKonfigPluginFlavorTest style"
it's much cleaner

[2019-02-12 07:29] yshrsmz opened #11 "Prefer buildkonfig.flavor from local.properties if exists"
Because editing `gradle.properties` is error-prone.
It is intended to be version-controlled, so avoid editing it if possible.

[2019-02-18 09:19] yshrsmz opened #12 "old BuildKonfig object still exists after changing packageName"
we need to delete `buildkonfig` dir before generating objects

[2019-02-19 05:23] #12 closed

[2019-02-25 06:36] yshrsmz commented on #11
https://developer.android.com/studio/build/index.html#properties-files

closing

[2019-02-25 06:36] #11 closed

[2019-02-25 07:26] #10 closed

[2019-02-26 00:12] yshrsmz opened #13 "Support Gradle Kotlin DSL"

[2019-09-23 12:45] yshrsmz commented on #3
or maybe we can just infer its type from the parameter

[2019-11-12 17:38] clojj opened #15 "Usage in build.gradle.kts"
Hi

How can I do the `buildkonfig` in the Gradle Kotlinscript variant ?

`buildkonfig { }` gives me a syntax error obviously

[2019-11-12 20:36] clojj commented on #15
[code]

Problem solved !

[2019-11-12 20:37] clojj commented on #15
actually much nicer because of IDE help in the Kotlin DSL

[2019-11-12 20:53] #15 closed

[2019-11-12 20:54] clojj commented on #15
works with build.gradle.kts too

[2019-11-14 00:23] kuuuurt opened #16 "Add isDebug to generated class"
In Android, `BuildConfig` holds a `DEBUG` variable we can use to check the build type.

Can we have this? Would be useful for some cases like enabling Ktor's Logging on debug build but not on release builds.

[2019-11-14 00:44] yshrsmz commented on #16
As far as I know, js platform does not have debug/release distinction. That's why BuildKonfig does not offer built-in DEBUG constant.
But you can manually add by yourself.

[2019-11-14 02:08] kuuuurt commented on #16
Do you think it's possible using this technique? https://github.com/ilmat192/kotlin-native-gradle-samples/tree/master/debug-logger

[2019-11-14 02:20] yshrsmz commented on #16
Could be, but I haven't tried that configuration.

[2019-11-14 02:28] kuuuurt commented on #16
I'll try to submit a PR when I can :)

[2019-11-14 02:35] yshrsmz commented on #16
Oh, do you mean to include that in BuildKonfig?
Then I don't want to implement that, sorry. I chose to not implement that kind of workaround to keep it easy to keep up with Kotlin update.

[2019-11-14 03:18] kuuuurt commented on #16
Awww. Got it then. :)

[2019-11-14 03:18] #16 closed

[2019-11-29 06:00] kuuuurt opened #17 "Merge buildKonfig for native targets"
For iOS, we have to create a target for the simulator (iosX64) and the device (iosArm64/iosArm32). I'm merging them through:

[code]

Problem is, buildkonfig generates for both the targets but since iosX64 is dependent on iosArm64, it produces an redeclaration error. Is there any way we can ignore some of the targets?

[2019-11-29 13:16] yshrsmz commented on #17
What I am doing now in my current project is changing iOS target depending on a value passed from Xcode(or command line).

When I build iOS framework, I pass a property like this

[code]

provided `kotlin.target` decides which target Gradle should configure, thus we don't need to manage two sourceSets.

[code]

[2019-12-02 00:51] yshrsmz commented on #17
Well since 1.3.60, `ios` dsl actually creates both iosArm64 and iosX64 targets and common sourcesets for these two.

https://kotlinlang.org/docs/reference/building-mpp-with-gradle.html#target-shortcuts

I need to check the behavior

[2019-12-02 02:08] kuuuurt commented on #17
I use the switching mechanism as well. I'm also trying out 1.3.60 but I'm having problems with other libraries.

[2019-12-03 10:00] glootjofo commented on #17
I also have this issue, however it is not easy to solve with a switch flag, because I'm building, and need to build all iOS targets for a static library to include in a fatLibrary.

Is there anything I can do to solve this issue myself? Or could this be fixed by adding a flag, to only generate the key value for common?

[2019-12-03 10:09] yshrsmz commented on #17
@glootjofo do you have any specific implementation for each iOS target?

If there's no target-specific code, the code in the comment above is the only way for now.

[code]

Yes, probably we need this feature.

[2019-12-03 10:12] glootjofo commented on #17
Sadly there is target-specific code. In my case, having only the generated key-value in common would solve my specific case. Because I only need git information that is shared across all targets.

[2019-12-03 10:25] yshrsmz commented on #17
@kuuuurt Does adding an option to generate a common BuildKonfig object(no expect-actual) solve your problem?

I'm leaning towards adding `generateCommonObject` flag(looking for better flag name).

@glootjofo

It depends on how we implement, but shouldn't be that difficult

[2019-12-03 10:33] yshrsmz commented on #17
I came up with two idea

- User need to explicitly specify that only common object is needed(and ignore/warn if `targetConfigs` is specified)

or

- The plugin will generate a common object if no `targetConfigs` is specified

[2019-12-03 11:09] glootjofo commented on #17
First one works for me. For now I have created a task that does this without BuildKonfig, but obviously i'll swap back if you get this feature in.

[code]

[2019-12-04 04:44] kuuuurt commented on #17
Sorry for being away for a while.

The first idea would be nice! Though I think a warning isn't needed. I think of it as just overriding the value or maybe adding more platform-specific values.

I'm just thinking about what if these common BuildKonfigs are just used among a subset of the targets. For example:
[code]

I can have a:
[code]

But I'd have to write the common configs for iOS individual

[2019-12-05 07:56] yshrsmz commented on #17
@kuuuurt

Ok, first let me clarify your example as `target` in your example has two meanings.

`targetConfigs` API is for setting target-specific values. In this context, `target` means platform, such as Android and iOS.

`targetConfigs`(and `defaultConfigs`) optionally takes a string value, which I call `flavor` in BuildKonfig.(in respect for Android)

flavor is here to switch values depending on

[2019-12-05 08:05] yshrsmz commented on #17
I confirmed that the configuration below is valid

[code]

[2019-12-05 08:16] kuuuurt commented on #17
Oh. In that case, that's good then!

Now, it's just the merging thing.

Have you verified the behavior on 1.3.60? If it works, then we might just have to upgrade to it.

[2019-12-07 15:30] yshrsmz commented on #17
Ok I've changed my mind and went this way

#18

Let me know what you think. I'm gonna merge this next Tuesday or Wednesday.

@kuuuurt @glootjofo

[2019-12-09 01:48] yshrsmz commented on #17
I've quickly tested `ios` dsl in 1.3.61 and it seems to indeed create a common sourceset for both `iosArm64` and `iosArm32`.

When I run `generatBuildKonfig` task it creates BuildKonfig for `iosArm64` and `iosX64` and seems to compile fine for both targets.

[2019-12-09 02:48] kuuuurt commented on #17
In that case, I guess this one's solved in 1.3.61!

[2019-12-11 07:08] kuuuurt commented on #17
Closing this issue as it's solved in 1.3.60+

[2019-12-11 07:08] #17 closed

[2019-12-23 19:13] MikolajKakol opened #20 "Support for nullable"
Hi, it would be great to add nullable support. Any thoughts about this? If help is needed I could try.

[2019-12-25 05:44] yshrsmz commented on #20
Could you elaborate on this?
What is the usecase of the null value as a constant?

[2019-12-26 21:43] MikolajKakol commented on #20
I'm using Gradle properties to read some constants. I'd like to model absence of them.

What I do is defining in local.properties proxy address for app and if it's not defined like on CI it's not installed on http client.

[2019-12-27 10:59] yshrsmz commented on #20
Thanks for the detail!

Do you really need to distinguish null and empty string?
If not, I'd recommend you to use an empty string as an empty value, rather than using null.

[2019-12-27 11:14] kuuuurt commented on #20
What about exposing a `getHasKey` method?

[2019-12-28 14:59] MikolajKakol commented on #20
With `String` it's kind of okay... however I also have some int's there and modeling it as -1/0 is just, you know :)

I feel that it would be a good addition to support nullable types since it's very deep in Kotlin roots.

[2019-12-28 15:12] yshrsmz commented on #20
That sounds reasonable.
How would you like to configure nullable value? Any idea?

[2019-12-28 15:34] MikolajKakol commented on #20
I'm using kts. The current method is `buildConfigField` I was thinking about adding simple `buildConfigNullableField`.

However, it's a bit more wast problem. Right now we are constrained by `Type` enum in `FieldSpec`. I think it maybe could be a sealed class and we should allow a user to enter any primitive supported by the language.

I could help with two PR, one for simple nullable and one that

[2019-12-28 15:51] yshrsmz commented on #20
looks nice 👍

Regarding the second suggestion, I'm not sure if it works well but let's see how it goes ;)

[2019-12-30 03:38] yshrsmz commented on #1
waiting for the cache limit upgrade
https://github.com/actions/cache/issues/6

[2020-01-07 16:11] yshrsmz opened #23 "add an easy way to load flavor from arbitrary properties file"

[2020-01-08 14:34] yshrsmz opened #24 "update changelog format"
https://keepachangelog.com/en/1.0.0/

[2020-01-08 18:26] imbsky commented on #1
There are still some concerns, but the cache limit has been bumped to 2GB.

[2020-01-22 11:36] KamiSempai commented on #3
The name of the method looks to large. Could it be better to use the shortest possible names?
[code]

[2020-01-22 11:50] yshrsmz commented on #3
we can't use `int` as it conflicts with java's primitive.

But I agree with you about "the shortest possible names".

maybe

[code]

[2020-01-25 13:47] yshrsmz commented on #20
I've just released 0.5.0 with changes from #21

[2020-02-21 06:47] #24 closed

[2020-04-20 23:59] dalewking opened #31 "Allow BuildKonfig to be public"
Object is generated as internal. To use it from the iOS or Android app requires adding another layer to expose the values. Add an option to generate it as public.

[2020-04-21 14:35] yshrsmz commented on #31
This is intended behavior, as the object is named BuildKonfig(which is obviously not the name people intentionally named as their API) and I think it should not be exposed as a part of public API.

This option should be paired with an option to change the name of the generated object.

[2020-04-21 14:38] dalewking commented on #31
As I said it should be optional and default to current behavior.

[2020-04-21 14:41] yshrsmz commented on #31
I understand, and I think we first need to add an option to change the name of the generated object.

[2020-05-06 08:07] Kiryushin-Andrey commented on #13
@yshrsmz I guess this issue is about using BuildKonfig from Gradle Kotlin DSL, am I right? I'm currently trying to use BuildKonfig from a Gradle Kotlin build script and I have troubles with it (the plugin can't be found when I specify it in plugins section). Is there any workaround for this? Or maybe can you give me any advice on how to contribute to your repo to make it possible - I'd like to giv

[2020-05-06 08:21] yshrsmz commented on #13
https://github.com/yshrsmz/BuildKonfig/issues/15#issuecomment-553102921

Please refer to this comment for the current usage in kts files.

Regarding your contribution, please feel free to send a PR like any other oss repositories, but let's discuss API interface first.

[2020-05-06 09:46] Kiryushin-Andrey commented on #13
Thanks, that helped a lot! However, I also had another issue that isn't described in this comment. I wasn't able to use the plugin just by adding `id("com.codingfeline.buildkonfig") version "0.5.1"` to the plugins section of my `build.grade.kts` file, because Gradle couldn't locate the plugin with specified id.

I found a workaround after looking into Gradle docs for a while (https://docs.gradle.o

[2020-05-08 06:12] romanandreyvich commented on #31
Any progress here?

[2020-05-08 09:30] yshrsmz opened #32 "Add an ability to change the name of the generated object"
to implement #31, we first need to add an option to change the name the generated object.

API could be

[code]

🤔

[2020-05-08 09:46] yshrsmz commented on #31
Nothing really

PR is really welcome

[2020-05-14 11:24] yshrsmz commented on #13
Thanks, yeah I need to check the maven/release configurations and create a new release.

[2020-08-04 13:00] yshrsmz opened #34 "publish BuildKonfig to plugins.gradle.org"
https://github.com/yshrsmz/BuildKonfig/issues/13#issuecomment-624548087

It turned out that I haven't registered this plugin to there:P

[2020-08-05 02:56] #32 closed

[2020-08-05 05:03] yshrsmz commented on #31
The configurable object name is now supported from v0.6.0. So if anyone wants to add an option to make generated objects public, you are good to go.

[2020-08-05 06:27] yshrsmz commented on #34
just submitted, waiting for the approval

[2020-08-05 09:17] yshrsmz commented on #34
approved
https://plugins.gradle.org/plugin/com.codingfeline.buildkonfig

[2020-08-05 09:17] #34 closed

[2020-08-05 09:19] yshrsmz commented on #13
@Kiryushin-Andrey

Hi, it's a bit late but the plugin is now on Gradle Plugins Portal.
If you are still interested in, please try it out.

https://plugins.gradle.org/plugin/com.codingfeline.buildkonfig

[2020-08-18 20:38] dellisd opened #35 "Allow BuildKonfig to be marked with @JsExport"
This is a pretty niche use case, but with Kotlin 1.4's generated TypeScript definitions only top level declarations marked with `@JsExport` will be included.

In my case, I am building a web client in TypeScript (rather than use Kotlin/JS) that makes use of a shared multiplatform module that depends on some API keys that are set through a BuildKonfig object.

Naturally, this would depend on #31.

[2020-08-19 01:28] yshrsmz commented on #35
Yes, this should be covered too.

According to [the API document](https://kotlinlang.org/api/latest/jvm/stdlib/kotlin.js/-js-export/), `expect` declaration can not be exported for now.

So `actual` declaration in js sourceset should be annotated, and we need to find a way to check the target platform.

[2020-08-19 01:30] yshrsmz commented on #35
So we need to

- annotate the common object with `@JsExport` if there is no target specific BuildKonfig configuration
- or annotate `actual` object in js sourceset

[2020-08-19 01:56] yshrsmz commented on #31
How should we configure this option?

[code]

Above is one option, but I think we should avoid this as we cannot infer the requirement.

So basically I've been thinking about these two options below.

[code]

With this, we can be explicit about the requirement, but now we have multiple ways to configure the object name.

Another option is to make `objectName` property a function and add a second p

[2020-08-19 06:07] dalewking commented on #31
Doesn't make a lot of difference. I was expecting a boolean parameter that controlled whether it was public or internal

[2020-08-19 13:29] dalewking commented on #31
Don't understand what you meant by "we cannot infer the requirement" unless you were saying you have to rename it to expose it. If so I see no reason why that is a requirement. Whether you want to change the name or you want it to be public are really unrelated. I have no problem with exposing it as BuildKonfig so I favor the first choice.

[2020-08-19 15:35] yshrsmz commented on #31
Thanks for your input! I really appreciate it.

As I said before I don't want BuildKonfig to be a part of someone's public API.

Say I have an `api` module that wants to expose server URL using BuildKonfig and the `presentation` module wants to use it. What `api` module should expose is `ApiConfig` or `Endpoint` object, but shouldn't be `BuildKonfig`. `BuildKonfig` tells nothing about its content

[2020-08-19 16:02] yshrsmz commented on #31
Though I must agree that the first one looks more concise. Maybe we could go with the first one and throw the exception when people forget to change the name.

[2020-08-20 05:20] dalewking commented on #31
I agree that naming it BuildKonfig in a public library is probably not what
you want, but in our case it is just exposing values for the Android and
iOS apps to use so I don't care what it is called.

If someone wants to make if public and leave it named BuildKonfig, why do
you care. You allow them to change it, not sure why the need to force them
to change it.

On Wed, Aug 19, 2020 at 12:02 PM Ya

[2020-08-22 09:28] slipdef opened #36 "Kotlin 1.4 support"

[2020-08-24 03:51] #31 closed

[2020-08-24 08:12] slipdef commented on #36
Sorry, I didn't check actually. Just wanted to be proactive. Can check this or next week.

[2020-08-24 08:13] yshrsmz commented on #36
No problem, I'm working on it now 😄

[2020-08-24 09:31] yshrsmz opened #38 "Support intermediate SourceSets"
~~blocked by #36~~

related: #56

Kotlin 1.4.0 adds support for [the hierarchical project structure](https://kotlinlang.org/docs/reference/whatsnew14.html#sharing-code-in-several-targets-with-the-hierarchical-project-structure).

So how can we support this?

[code]

Say I have a configuration above.
Currently, BuildKonfig does not generate an object for `iosMain`, simply ignore it as there's no ta

[2020-08-24 09:31] yshrsmz commented on #38
As it may take some time to resolve the issue, I am planning to release a version for Kotlin 1.4 without supporting this.

[2020-08-24 13:50] #36 closed

[2020-08-24 13:50] #35 closed

[2020-09-11 18:34] dellisd opened #40 "Support other Kotlin plugins"
Currently the multiplatform plugin is required to use BuildKonfig. It would be nice to be able to use BuildKonfig in non-multiplatform projects as well, namely in standalone JVM, JS, or Native projects that use the other respective Kotlin plugins.

[2020-09-24 14:46] dalewking opened #41 "Update readme to show how to configure using new gradle plugin syntax"
The readme shows the old way to configure the plugin using classpath inside buildscript, but since you are publishing in the gradle plugin portal there is no reason to so it that way. The readme should reflect the prefered way using the new plugin syntax.

[2020-10-04 07:08] yshrsmz commented on #40
Yes, I agree to support other plugins.
But as I'm currently not using JS plugin or others, I'll have to rely on contributions from those who are interested in.

[2020-10-09 16:13] dalewking commented on #41
I've figured it out how to make it work in gradle kotlin dsl:

You can apply the plugin with:
[code]

I added these imports to the file:
[code]

And here is what I did to configure:
[code]

This is hampered by the fact that for target configs you are using Closure, which is Groovy specific and requires the configureOf wrapper. As noted [here](https://docs.gradle.org/current/userguide/kotlin_dsl.ht

[2020-10-09 16:17] dalewking commented on #41
And I guess I should have tested that before posting as that fails with:
org.gradle.api.internal.FactoryNamedDomainObjectContainer_Decorated cannot be cast to com.codingfeline.buildkonfig.gradle.TargetConfigDsl

[2020-10-09 16:32] dalewking commented on #41
OK, this works, but once again would be simplified by you switching to Action from Closure:

    targetConfigs(closureOf<NamedDomainObjectContainer<TargetConfigDsl>> {
        create("android") {
            buildConfigField(
                Type.STRING, "OAUTH_CLIENT_ID",
                project.properties["oauth_client_id_android"].toString()
            )
                Type.STRING, "OAUTH_CLI

[2020-11-26 16:09] Jesus13 opened #42 "Generate: val -> const val"
Hi, maybe you can use const for generated config objects? Otherwise, you will not be able to make other constants. Constants will allow you to discard chunks of test code that should not be build for a production code.

![const](https://user-images.githubusercontent.com/7438640/100369681-4762c080-3016-11eb-8fee-44a6ae09808b.png)
[code]

[2020-11-28 05:37] yshrsmz commented on #42
If I remember correctly, expect/actual cannot be used with `const`.
It's possible to use `const` when BuildKonfig generates a simple object(when you don't provide target-specific config) but to keep consistency between the 2 cases, I think we should stick to the current implementation

[2020-12-05 07:28] yshrsmz commented on #42
I'm going to close this for now.
Feel free to reopen this if you find a way.

[2021-01-04 07:32] steam0111 opened #43 "Why generated values are not const?"
For example :

internal object BuildKonfig {
  val FOOD_API_KEY: String = "1234"
}

why value not const?

[2021-01-04 07:36] yshrsmz commented on #43
duplicate of #42

[2021-01-04 07:36] #43 closed

[2021-01-14 04:18] Coronel-B commented on #13
Great, this works!

[2021-01-15 03:02] Coronel-B opened #44 "`targetConfigs` does not work in Kotlin DSL"
## build.config.kts (:kmm_shared:feature)

[code]

`DefaultConfigs` is working but `targetConfigs` generate the following error:

#### ERROR:

[code]

[code]

[2021-01-15 03:04] yshrsmz commented on #44
see this issue: https://github.com/yshrsmz/BuildKonfig/issues/41

[2021-01-15 03:48] Coronel-B commented on #44
Perfect, this works! Thanks

https://github.com/yshrsmz/BuildKonfig/issues/41#issuecomment-706280968

[2021-01-15 05:31] yshrsmz commented on #44
Great. Feel free to send a PR to update the README ;)

[2021-01-15 05:31] #44 closed

[2021-02-02 22:44] ernestkamara opened #45 "Generated BuildKonfig not updated"
Hi,

I'm trying to setup BuildKonfig in our app, but the generated file is not being updated running the generator command.
Below is my setup and would be kind to know if my setup is wrong.
Thanks in advance.

[code]

[code]

[code]

[2021-02-03 00:48] ernestkamara commented on #45
Sorry, I got it working.

[2021-02-03 00:48] #45 closed

[2021-02-13 13:43] yshrsmz opened #46 "Publish to Maven Central"

[2021-02-13 13:44] yshrsmz commented on #46
I've uploaded all previous releases to Maven Central.
If anyone is interested, please check it out.

[2021-02-14 05:28] #46 closed

[2021-02-19 02:06] yshrsmz opened #48 "provide a way to read values from properties file"
Not sure the DSL below is possible, but something like this

[code]

[2021-04-08 16:01] yshrsmz commented on #48
https://github.com/google/secrets-gradle-plugin

[2021-04-10 08:16] PhilipDukhov commented on #48
do you have a plan to add multiplatform support for `secrets-gradle-plugin`?

[2021-04-10 12:42] yshrsmz commented on #48
@PhilipDukhov
I think I'm not going to "support" secrets-gradle-plugin, as it looks like an Android-specific plugin, but borrow some idea/implementation from it.

Do you have any idea or suggestion?

[2021-04-10 12:57] PhilipDukhov commented on #48
Ah I see. I think it could be done using same techniques [moko-resources](https://github.com/icerockdev/moko-resources) uses under the hood.

[2021-04-10 15:56] yshrsmz commented on #48
Thanks, will take a look!

[2021-05-30 08:38] #41 closed

[2021-06-09 01:57] xxfast opened #50 "[java.lang.IllegalArgumentException: packageName must be provided] thrown when adding a js(IR) target"
When adding a `js(IR)` target
[code]
throws during sync
[code]

even when the `packageName` is provided

Minimal working example here: https://github.com/xxfast/BuildKonfig-Issues

Or download here:
[BuildKonfig-Issues-master.zip](https://github.com/yshrsmz/BuildKonfig/files/6620583/BuildKonfig-Issues-master.zip)

full sync stacktrace:
[code]

[2021-06-09 05:56] yshrsmz commented on #50
@xxfast

Thanks!

Could you try if replacing `configure<com.codingfeline.buildkonfig.gradle.BuildKonfigExtension>` with `buildkonfig` fix the problem?

https://github.com/yshrsmz/BuildKonfig#kotlin-dsl-1

[2021-06-09 08:49] xxfast commented on #50
Hello - that worked like a treat. 🧁

is it safe to assume that this
[code]
Is no longer supported?

[2021-06-09 08:49] #13 closed

[2021-06-09 08:59] yshrsmz commented on #50
Thanks for reporting back!
Actually, I'm not sure 😅

I haven't do anything since last August, so if `configure<BuildkonfigExtension>` had worked before, it should work.

Maybe it's related to Kotlin plugin version difference.

I think we need to update the plugin to Kotlin 1.5

[2021-06-09 15:15] xxfast commented on #50
I might able to take a look - anyways, super-useful library 👍 closing this issue now

[2021-06-09 15:15] #50 closed

[2021-06-15 12:27] ernestkamara opened #53 "Build failed when BuildKonfig configuration moved to a separate file"
Hi,

Our `buildkonfig` configuration has grown to 115 lines of code (with formatting), so we extract it to another gradle file.
However, applying this plug-in to our `shared/build.gradle` fails our build with an exception.

## Steps to reproduce:
- Extract `buildkonfig` to a separate gradle file, e.i. `buildkonfig.gradle` in our case.
- Apply the plug-in by add  `apply(from = "$rootDir/gradle/buil

[2021-07-27 04:57] yshrsmz commented on #53
I think it's an issue with Gradle configuration.

Could you try extract other plugin's config block to a file, just like you did with buildkonfig, and see how it goes?

[2021-08-23 04:27] chris-hatton opened #54 "Kotlin/JS IR backend breaks when using BuildKonfig's `exposeObjectWithName` option"
As soon as I enable the Config file generation, even with no fields defined, the task `compileProductionExecutableKotlinBrowser` yields error:
[code]

[2021-08-23 04:40] chris-hatton commented on #54
Reproduced with Gradle versions `7.1.1` and `7.2`.

[2021-08-23 06:08] yshrsmz commented on #54
can you give me a reproducible repo or gradle config file?

[2021-08-23 11:25] chris-hatton commented on #54
Yes, I will provide a minimal reproduction project ASAP.

[2021-08-23 13:01] chris-hatton commented on #54
I've created a minimal reproduction project; but the process of creating it revealed that this issue is probably the side effect of a bug between Kotlin/JS and the JetBrains Compose compiler.  With the Compose compiler disabled, BuildKonfig works correctly, when it's enabled, the stated assertion error is thrown.

I raised this as an issue on:
- [YouTrack](https://youtrack.jetbrains.com/issue/KT-4

[2021-08-24 13:28] yshrsmz commented on #54
Thanks!

[2021-08-31 10:26] G00fY2 commented on #54
I just added the plugin to a KotlinJS Compose project and everything is working fine so far: https://github.com/G00fY2/compose-github.io/commit/08a3f442600008fa833c7f77465550b3960950b0

But I am using compose 1.0.0-alpha4-build328 with Kotlin 1.5.30.

[2021-09-02 07:18] chris-hatton commented on #54
@G00fY2 Just adding the plugin alone is not enough to reproduce the error, you have to add a field to your Config file so that it gets generated.  If this is working for you; would you kindly share your config and/or also try to compile the reproduction project in the YouTrack issue so that we can learn what the difference is?  Thanks.

[2021-09-02 07:44] chris-hatton commented on #54
@G00fY2 Thank you for your working example; using this I was able to narrow the issue down further, to use of BuildKonfigs `exposeObjectWithName` (see [documentation](https://github.com/yshrsmz/BuildKonfig#kotlin-dsl)).  Whenever this is set the problem occurs; it looks like the relevant factor is the generated output then having `public` instead of `internal` visibility.

[2021-09-02 07:50] G00fY2 commented on #54
@chris-hatton As I said, it's working in my project (I actually switched to `om.github.gmazzo.buildconfig` since I only need KotlinJs and want the fields to be _const_).

I tried your sample project and the issue seems to be the `exposeObjectWithName` setting. I didn't use that. As soon as you remove this, your project compiles. However not sure whats the root cause.

[2021-09-02 07:55] chris-hatton commented on #54
Yeah, I recreated the issue in your project by setting `exposeObjectWithName` (and adding requisite ` "-Xopt-in=kotlin.RequiresOptIn"` JS Compiler arg) so it seem to be a Kotlin/JS issue with generated code being public.

[2021-09-30 12:09] chris-hatton opened #56 "BuildKonfig `0.9.0` -> `0.10.0` breaks Gradle Sync"
Thanks for **BuildKonfig**, it continues to be an essential tool for KMP App Development! ❤️
I was happy to see continued maintenance with a `0.10.0` release:

Unfortunately, this new version has a bug for my project.
Gradle Sync fails with the error:
[code]
_(I've redacted my actual username and project name but the pattern is preserved)_
This prevents working with the project.

If I change only

[2021-09-30 12:43] yshrsmz commented on #56
Hi,

Indeed I changed the source-sets registration logic in 0.10.0.

[`v0.9.0...v0.10.1`#diff-dd276d30d4](https://github.com/yshrsmz/BuildKonfig/compare/v0.9.0...v0.10.1#diff-dd276d30d4f21d6e0aefb7855c6711d86a1f4a29eb2f0a7ad80e7798ea07e2f6)

Previously the plugin explicitly obtained `commonMain` source-sets and registered buildkonfig dependency, but now it adds the dependency when the target is `K

[2021-09-30 13:40] chris-hatton commented on #56
Sure, my source sets dependencies (this is within a **single module**) look like this:

![image](https://user-images.githubusercontent.com/895683/135465765-0a1aa2ea-97ec-49e8-ac6e-c85a638976f4.png)

So far in KMP it has probably been less common to have these intermediary source-sets; but it will certainly become more common in the near future, as Compose/Multiplatform gains more use (this is what

[2021-09-30 15:00] chris-hatton commented on #48
In case it helps anyone I'm using BuildKonfig happily in conjunction with the SnakeYAML library, within Gradle (Kotlin DSL), like so:
[code]

[2021-10-01 07:49] yshrsmz commented on #56
Here's what I found so far.

Actually, there's only one KotlinMetadataTarget, but there are multiple `main` compilations in it.

When `kotlin.mpp.enableGranularSourceSetsMetadata` is set to true, KMP adds dedicated compilation for shared sourceset in KotlinMetadataTarget

so

[code]

so if we have a source set configuration above, KotlinMetadataTarget has compilations below

[code]

Looks like wha

[2021-10-01 07:59] yshrsmz commented on #56
[code]

[2021-10-01 09:39] #56 closed

[2021-10-01 10:19] yshrsmz commented on #56
@chris-hatton

Hi, I've just released v0.10.2 with a possible fix for this issue.
Please let me know if you find anything weird. thanks!

[2021-10-05 13:54] eirikvaa opened #59 "Kotlin v1.5.31, XCFramework: targetConfigs fields not found from iOS"
First of all, thanks so much for an awesome library!

I have a KMM project that was upgraded to Kotlin v1.5.31 recently. With that release came support for generating an XCFramework that can be consumed from the iOS app, which is awesome since it lets you bundle up different app variants like one for the simulator and one for physical devices.

Previously I would use BuildKonfig and its `targetCon

[2021-10-05 14:03] eirikvaa commented on #59
I'll see if I can create a reproducible project tomorrow.

[2021-10-05 14:24] yshrsmz commented on #59
I'm going to look into this tomorrow(or next weekend), but at first glance it must be related to #38 .

For now BuildKonfig cannot detect which is non-root shared sourceset.

This is something I really want to support. Any suggestion (and of course repro) is appreciated.

[2021-10-05 14:47] eirikvaa commented on #59
Thanks for coming back to me so quickly, appreciate it :) I'll see about that repro when I have time.

[2021-10-09 06:18] yshrsmz commented on #38
[code]

[2021-10-12 13:05] sanders9 opened #60 "Java version compatibility"
It'd seem that since `0.10.1` the java compatibility has been broken.

[code]

[2021-10-18 10:25] #60 closed

[2021-10-19 09:37] #38 closed

[2021-10-19 09:37] #59 closed

[2021-10-19 09:59] yshrsmz commented on #59
Hi, I've released v0.11.0 with (experimental) HMPP support.
Please let me know if you find anything strange.

[2021-10-19 10:02] eirikvaa commented on #59
Awesome work, thank you! I tested it a bit last week and it seems to work great :-)

[2021-10-19 15:59] mariuszmarzec opened #63 "Kotlin/JS Exception: non-flavored defaultConfigs must be provided. Despite is provided."
Hey,
Thanks for your effort and great tool. I tried to add to my compose playgrond project JS MPP target, using latest version 0.11.0 of BuildKonfig got this error during project sync:
`
org.gradle.api.ProjectConfigurationException: A problem occurred configuring project ':common'
Caused by: java.lang.IllegalStateException: non-flavored defaultConfigs must be provided.
	at com.codingfeline.buildko

[2021-10-20 01:20] yshrsmz commented on #63
Thanks a lot, will take a look

[2021-10-21 12:31] yshrsmz opened #64 "Support config inheritance"
#61

[2021-10-21 12:40] yshrsmz commented on #64
copied from https://github.com/yshrsmz/BuildKonfig/pull/61#issuecomment-948557106, by @TobiasPr

---
Thanks for replying so quickly :)

In our case we build our application for jvmMain, androidMain (which is currently 100% identical source sets wise but we would like to set some differnent value on buildkonfig) and iosMain. Here is a part of our build.gradle.kts:
[code]

if we build for android th

[2021-10-21 13:05] yshrsmz commented on #64
Your jvmMain is an intermediate SourceSet, but also a "terminal" SourceSet.
Actually, I didn't consider that usecase.

Assuming that your `jvmMain` is something like a library, the current suggestion is:

- create a jvmCommonMain SourceSet. The SourceSet hierarchy should be like below.
- create targetConfigs for jvmMain and androidMain

[code]

- common implementation is in jvmCommonMain, and libr

[2021-10-21 13:08] TobiasPr commented on #64
I tried that, but my build is failing. I think it is because we did not see that it is currently not supported/ we are not supopsed to share code between android and jvm according to the documentation:

Unfortunately I cannot really say something if creating a common source set works

[2021-12-16 04:08] yukai18 commented on #23
@yshrsmz hi, thank you for the great tool. I'm quite new to Kotlin in general, where do you put this script so it will get the flavor from local.properties instead of gradle.properties?

[2021-12-16 04:14] yshrsmz commented on #23
@yukai18
Write it in a `build.gradle` which you apply BuildKonfig plugin, and call it.

[code]

Please not this is written in groovy, so if you are using KTS then you need to re-write this in Kotlin

[2021-12-16 08:25] yukai18 commented on #23
@yshrsmz thank you for your fast response, I tried converting it to Kotlin, the sync was successful, i run `./gradlew :shared:generateBuildKonfig` in the terminal, it was successful as well but no file was generated.
Can you kindly help check if I am doing something wrong?
Here is my code in `build.gradle.kts` located inside shared module:
[code]

in my `local.properties` file
[code]

I had to set

[2021-12-16 08:42] yshrsmz commented on #23
@yukai18 Can you provide a minimal repro?

buildkonfig setup looks file, but I'd like to know how you configure the entire project(or at least `shared` module)

[2021-12-17 04:31] yukai18 commented on #23
Hi @yshrsmz , as I was creating the mini repro project, I realized my mistakes. I'm able to fully integrate the plugin now. Thank you so much! Sorry for the trouble.

Here's what I did, in case others are experiencing the same issue as mine
For the generated file not showing, make sure that you did not exclude the `build` folder in the project navigator, I forgot if this is excluded by default or

[2021-12-21 08:18] yshrsmz commented on #53
Closing for now.
Feel free to re-open the issue when you have further information.

[2021-12-21 08:18] #53 closed

[2021-12-29 11:20] yshrsmz commented on #54
@chris-hatton @G00fY2

Hey, can anyone confirm this?

https://github.com/JetBrains/compose-jb/issues/1104 says that it should be fixed with 1.0.1-rc2 and kotlin 1.6.10

[2022-03-26 01:42] jflavio11 commented on #63
Hey, Flavio here

I had the same problem today but what I found is that when you add an extra line or statement in the Gradle file that is not contained inside a function, then the sync fails with the message “non-flavored defaultConfigs must be provided”.

So, if you have any statement in a lonely single line, then you are going to get this error.

[2022-03-26 01:47] yshrsmz commented on #63
@jflavio11 Can you provide a reproduction project(or a gradle file)?

[2022-04-21 11:50] raymondctc commented on #23
hi @yshrsmz, it seems that I cannot get your script working. I have a root project (`ProjectA`) which include another project called `ProjectB` and is a Kotlin multiplatform library project and `BuildKonfig` was included in `ProjectB`.

However, no matter what I set in `ProjectA`'s `local.properties`, it just simply won't recognize and `BuildKonfig` will just use the default flavor. I can only cha

[2022-04-21 12:02] yshrsmz commented on #23
@raymondctc

I'm not sure if `ProjectB` is a module or a project, but I think you can use `rootProject` instead

[code]

or simply add `..`

[code]

[2022-04-22 02:45] raymondctc commented on #23
Thanks! I finally pulled the code and figured out the reason.
My project structure is a bit complicated and looks like this
[code]
By printing `project.projectDir` and `project.rootProject.projectDir` on `ProjectA`'s `build.gradle`, the following result is given:
[code]

And when I try to print `project.projectDir`and `project.rootProject.projectDir` in `BuildKonfigPlugin`'s `configure` call, the

[2022-04-24 09:43] yshrsmz opened #65 "Update Gradle to 7.3+ and use Kotlin 1.5.31"
https://handstandsam.com/2022/04/13/using-the-kotlin-dsl-gradle-plugin-forces-kotlin-1-4-compatibility/

[2022-05-13 07:03] klusi opened #66 "Support for Gradle configuration cache"
It's not possible to enable [Gradle configuration Cache](https://docs.gradle.org/current/userguide/configuration_cache.html) in projects using `BuildKonfig`.

When i have in root `gradle.properties` file:
`org.gradle.unsafe.configuration-cache=true`

I get these errors during build

[code]

[2022-05-15 13:58] #66 closed

[2022-05-16 02:56] yshrsmz commented on #66
v0.12.0 is out with Gradle configuration cache support.

[2022-05-20 11:25] yshrsmz commented on #54
closing for now.
feel free to reopen if this is still an issue.

[2022-05-20 11:25] #54 closed

[2022-06-05 16:43] Prototik commented on #42
@yshrsmz you can expose expect/actual const values with using `@Suppress("CONST_VAL_WITHOUT_INITIALIZER")` on the expect class.
I believe it's a bug in a compiler, and with this suppress i'm using it without any problems since kotlin 1.3.

[2022-06-06 05:33] yshrsmz commented on #42
Hi @Prototik, thanks for the great information.

Do you know any source about this?

I found this youtrack issue, but it does not clarify if this is a bug or not
https://youtrack.jetbrains.com/issue/KT-18856/Can-we-have-expectactual-consts

[2022-06-06 05:52] Prototik commented on #42
No, I don't have any additional information about this, i discovered it by myself via looking to source code of kotlin compiler. I think this inspection just don't care about expect/actuals and should not be forced on expect declrations (due to fact expect cannot have default implementation of any sort).

I personally used it in my own BuildConfig-like plugin for a couple years already and don't e

[2022-06-06 06:56] Prototik commented on #42
@yshrsmz I found it!
It will be allowed in kotlin 1.7 out-of-box: https://github.com/JetBrains/kotlin/commit/b4c854429fb3f025225b91365fcf5063025a40fa

[2022-06-06 11:21] yshrsmz commented on #42
That's great!
Let's move it forward 💪

[2022-06-07 11:23] #42 closed

[2022-08-07 07:45] yshrsmz commented on #4
common is kinda misleading in KMP context. closing

[2022-08-07 07:45] #4 closed

[2022-08-07 10:35] yshrsmz commented on #48
It seems like properties file is not suitable for BuildKonfig, as it's just a key-value map

Something like yaml or toml should be fine

[2022-11-22 20:44] mustafaozhan opened #73 "Support for adding platform specific config"
Hello 👋

I had a KMP module which has only JVM target enabled, but since BuildKonfig is generating the class in `commonMain` I had to add
[code]

Maybe we can configure the place that `BuildKonfig` is generated ?

[2022-11-22 20:47] mustafaozhan opened #74 "Generating Non-Internal BuildKonfig object"
Currently, if we need to use BuildKonfig from different module, it is not visible since `BuildKonfig` is generated internal, maybe we can make this optional, since it causes repeated setups in different modules

[2022-11-22 20:52] mustafaozhan opened #75 "Generating Secondary and more BuildKonfig object"
Currently, everything that is generated is added into a single object. That sounds reasonable but we may want to group certain things and seperate from eachother, maybe we can introduce a `name` into config and use this name to name generated objects

like this

[code]

Additionally, this request will also make sense after we implement: https://github.com/yshrsmz/BuildKonfig/issues/74 Since we may

[2022-11-23 02:05] yshrsmz commented on #74
You can use `exposeObjectWithName` to make it public

[2022-11-24 04:10] #74 closed

[2022-11-24 04:10] #73 closed

[2022-11-24 08:22] mustafaozhan commented on #74
It works! thanks a lot!

[2022-11-29 17:16] CMingTseng opened #76 "can support kotlin Native ?"
Dear Sir

as this project  - https://github.com/bennyhuo/hello-kni

can use kotlin native to JNI  ( kotlin  --> c --> JNI --->Android/JVM)

when call  JNI  System.loadLibrary  is  "knlib"  , that define  at sharedLib  in build.gradle.kts

https://github.com/bennyhuo/hello-kni/blob/27f787c13c27a2fd2e922b632eee66676761fce6/nativeLib/build.gradle.kts#L17

if use  BuildKonfig to define a String buildC

[2022-11-30 03:23] yshrsmz commented on #76
Hi
BuildKonfig supports K/N.

If what you mean is "how to access BuildKonfig defined in 'shared' module, from 'app' module", then BuildKonfig has `internal` visibility modifier by default, so use `exposeObjectWithName` to make it public.